@media screen and (min-width: 0px) and (max-width: 440px) {
  .btn-contato {
    display: none;
  }

  .w50 {
    width: 100%;
  }

  #listas {
    display: block;
    max-width: 100%;
  }

  #estrutura img {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  i#burguer {
    display: none;
  }

  menu {
    display: block;
  }

  menu > ul {
    display: inline-block;
    align-items: center;
  }
  menu > ul > li {
    display: inline-block;
  }

  #listas {
    display: block;
    max-width: 100%;
  }
}
