@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,300;1,100&display=swap");

/*************************ESTILO GERAL***************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Dm-sans", sans-serif;
}

body {
  display: block;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 218, 218);
  color: white;
}

/***************************MENU**********************************/

header {
  padding: 10px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  padding: 1px;
}

i#burguer {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}

i#burguer:hover {
  background-color: blue;
  color: black;
}

menu {
  display: none;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.link-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.link-header:hover {
  color: blue;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: blue;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.btn-contato button:hover {
  color: white;
  transform: scale(1.1);
}

.a-contato {
  color: black;
}

.a-contato:hover {
  color: white;
}

/*****************************link******************************/

.link {
  text-align: center;
}

.fa-brands {
  font-size: 50px;
  color: blue;
}

.fa-regular {
  font-size: 50px;
  color: blue;
}

h2 {
  text-align: center;
  padding: 10px;
  color: blue;
}

a i {
  padding: 20px;
  display: inline-block;
}

a i:hover {
  color: white;
}

/*****************************link-home******************************/

.link-home {
  margin-bottom: 40px;
  text-align: center;
}

.link-home a {
  color: blue;
  padding: 10px;
  border: solid white 4px;
  display: inline-block;
  margin: 5px;
  border-radius: 0 20px 0 20px;
}

.link-home a:hover {
  color: white;
  border: solid blue 4px;
}

/*****************************footer******************************/
footer {
  text-align: center;
  margin-top: 10px;
}
footer p {
  text-align: center;
}

footer .fa-brands {
  font-size: 20px;
  padding: 10px;
  color: white;
}

footer a i:hover {
  color: blue;
}

/****************************************/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  width: 8rem;
  height: 8rem;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/****************************************/
