@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,300;1,100&display=swap");

/*************************ESTILO GERAL***************************************/

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Dm-sans", sans-serif;
}

body {
  display: block;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 184, 184);
  color: white;
}

/***************************MENU**********************************/

header {
  padding: 10px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  padding: 1px;
}

i#burguer {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}

i#burguer:hover {
  background-color: blue;
  color: black;
}

menu {
  display: none;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.link-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.link-header:hover {
  color: blue;
}

.btn-contato button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  background-color: blue;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.btn-contato button:hover {
  color: white;
  transform: scale(1.1);
}

.a-contato {
  color: black;
}

.a-contato:hover {
  color: white;
}

/*****************************link******************************/

.link {
  text-align: center;
}

.fa-brands,
.fa-regular {
  font-size: 50px;
  color: blue;
}

.fa-solid {
  font-size: 15px;
  color: blue;
  padding: 10px 15px;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: blue;
  text-shadow: 10px 10px 7px #808080;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  color: blue;
}

a i {
  padding: 20px;
  display: inline-block;
}

a i:hover {
  color: white;
}

/*****************************link-home******************************/

.link-home {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.link-home a {
  color: blue;
  padding: 10px;
  border: solid white 4px;
  display: inline-block;
  margin: 5px;
  border-radius: 0 20px 0 20px;
}

.link-home a:hover {
  color: white;
  border: solid blue 4px;
}

/***************************home*************************/
.home {
  background: url(../img/tecnologia.jpg) center center no-repeat;
  background-size: cover;
  height: 400px;
}

.link-home {
  display: inline-block;
  margin: 0;
}

/*****************************texto - tecnologia******************************/

.secao-com-texto {
  padding: 20px;
  text-align: center;
  clear: both;
}

.secao-com-texto img {
  width: 170px;
  height: 170px;
  border-radius: 20px;
}

.secao-com-texto h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  color: blue;
}

.secao-com-texto p {
  font-size: 18px;
  width: 800px;
  margin: 0 auto;
  text-align: justify;
  text-indent: 40px;
}

.secao-com-texto.tecnologia p {
  font-size: 28px;
  width: 480px;
}

/**********************************teoria - tabelas***************************/
#borda {
  display: block;
  max-width: 700px;
  text-align: center;
  margin: auto;
}
#borda img {
  width: 600px;
  border-radius: 30px;
  padding: 10px;
}

/*****************************CONTATO******************************/

.container {
  max-width: 960px;
  margin: 0 auto; /*centralizar*/
  padding: 0 2%; /*espaçamento entre eles*/
}

.clear {
  clear: both;
}

.w50 {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.w100 {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/*estilo proprio*/

h2 {
  text-align: center;
  color: blue;
  padding: 10px 0;
  font-size: 30px;
  margin-top: 40px;
  text-transform: uppercase; /*deixar maiusculo*/
}

p {
  text-align: center;
}

.form-group label {
  display: block;
  margin: 8px 0;
  color: #0e0c0c;
}

.form-group input[type="text"] {
  width: 100%;
  padding-left: 8px;
  height: 40px;
  margin-top: 6px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  color: blue;
  padding: 20px;
  border: solid white 4px;
  display: inline-block;
  margin: 10px;
}

.form-group textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.button_contato {
  color: blue;
  padding: 20px 30px;
  border: solid white 4px;
  display: inline-block;
  margin: 10px;
}

.button_contato:hover {
  border: solid blue 4px;
}

.contato_button {
  text-align: center;
  padding: 20px;
}

/*****************************footer******************************/
footer {
  text-align: center;
  margin-top: 10px;
}
footer p {
  text-align: center;
}

footer .fa-brands {
  font-size: 20px;
  padding: 10px;
  color: white;
}

footer a i:hover {
  color: blue;
}

/****************************************/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  width: 8rem;
  height: 8rem;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/****************************************/
