/*****************************home******************************/

.secao-com-texto {
  padding: 20px;
  text-align: center;
  clear: both;
}

.secao-com-texto img {
  width: 250px;
  height: 230px;
  border-radius: 20px;
}

.secao-com-texto h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  color: blue;
}

.secao-com-texto p {
  font-size: 18px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: justify;
  text-indent: 40px;
}

.secao-com-texto.tecnologia p {
  font-size: 28px;
  width: 480px;
}

/**********************************/

.img-tec {
  color: white;
  margin-top: 30px;
}
